<div *ngIf="hasRequest()" class="row justify-content-md-center">
  <div class="row col-md-8 shadow-lg p-2 mb-3 bg-white">

    <div class="row col-md-12 justify-content-md-center">
      <h1 class="pageTitle" i18n="@@RequestDetails">RequestDetails</h1>
    </div>

    <div class="col-md-12 justify-content-md-center">
    	<div class="row">
		    <div class="col-md-6">
		    	<div class="row col-md-12 justify-content-md-center">
			      <h3 class="sectionTitle" i18n="@@request">request</h3>
			    </div>

			    <hr>

		      <label class="col-md-6 label" i18n="@@state:">state:</label>
		      <label class="col-md-5">{{ request.state.description }}</label>

		      <label class="col-md-6 label" i18n="@@totalHours:">totalHours:</label>
		      <label class="col-md-5">{{ request.totalHours }}</label>

		      <label class="col-md-6 label" i18n="@@reservationDateTime:">reservationDateTime:</label>
		      <label class="col-md-5">{{ dateService.shortDate(request.reservationDateTime) }}, {{ dateService.shortTime(request.reservationDateTime) }}</label>

		      <label class="col-md-6 label" i18n="@@hoursOfTheReservation:">hoursOfTheReservation:</label>
		      <label class="col-md-5">{{ request.hoursOfTheReservation }}</label>
		    </div>

			  <div class="col-md-6">
			  	<div class="row col-md-12 justify-content-md-center">
			      <h3 class="sectionTitle" i18n="@@requester">requester</h3>
			    </div>

			    <hr>

		      <label class="col-md-6 label" i18n="@@fullName:">fullName:</label>
		      <label class="col-md-5">{{ request.requester.firstName }} {{ request.requester.lastName }}</label>

		      <label class="col-md-6 label" i18n="@@address:">address:</label>
		      <label class="col-md-5">{{ request.requester.address.description }}</label>

		      <label class="col-md-6 label" i18n="@@email:">email:</label>
		      <label class="col-md-5">{{ request.requester.email.accountName }}</label>

		      <label class="col-md-6 label" i18n="@@cuil:">cuil:</label>
		      <label class="col-md-5">{{ request.requester.cuil }}</label>
				</div>
			</div>	

      <div class="row col-md-12 justify-content-md-center">
        <button class="btn btn-primary" (click)="request()" i18n="@@request">request</button>
        <button class="btn btn-default ml-3" (click)="return()" i18n="@@return">return</button>
      </div>    
    </div>

  </div>
</div>