<div class="container-fluid">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="" (click)="setSelectedItem(0)">
      <img src="assets/carpnd_logo.png" alt="Carpnd"/>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{'active': selectedItem() == 1}" (click)="setSelectedItem(1)">
        <a class="nav-link" routerLink="searchVehicle" i18n="@@searchVehicle">searchVehicle</a>
      </li> 
      <li class="nav-item" [ngClass]="{'active': selectedItem() == 2}" (click)="setSelectedItem(2)">
        <a class="nav-link" routerLink="publications" i18n="@@publications">publications</a>
      </li>
    </ul>

    <div class="col-sm">
      <div class="float-right">
        <div class="d-flex" dropdown>
          <a class="dropdown" dropdownToggle aria-controls="dropdown-basic">
            <img class="user-avatar rounded-circle" src="{{profile?.picture}}" alt="User Avatar">
          </a>

          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="users/{{id()}}" i18n="@@profile">profile</a></li>

            <li class="divider dropdown-divider"></li>
            <ul *ngFor="let l of languages">
              <li role="menuitem">
                <button class="dropdown-item left-side" (click)="changeLanguage(l.i18n)">{{l.name}}</button>
              </li>
            </ul>

            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <button class="dropdown-item" (click)="auth.logout()" i18n="@@logOut">logOut</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>
</div>