<div class="container-fluid">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" routerLink="" (click)="setSelectedItem(0)">
      <img src="assets/carpnd_logo.png" alt="Carpnd"/>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{'active': selectedItem() == 1}" (click)="setSelectedItem(1)">
        <a class="nav-link" routerLink="searchVehicle" i18n="@@searchVehicle">searchVehicle</a>
      </li> 
      <li class="nav-item" [ngClass]="{'active': selectedItem() == 2}" (click)="setSelectedItem(2)">
        <a class="nav-link" routerLink="#" i18n="@@publications">publications</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': selectedItem() == 3}" (click)="setSelectedItem(3)">
        <a class="nav-link" routerLink="#" i18n="@@requests">requests</a>
      </li>
    </ul>

    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />-->

    <div class="col-sm">
      <div class="float-right">
        <div class="d-flex">
          <select [(ngModel)]="i18nValue">
            <option [ngValue]="undefined" disabled  selected i18n="@@selectLanguage">selectLanguage</option>
            <option *ngFor="let l of languages" [value]="l.i18n">
              {{l.name}}
            </option>
          </select>

          <button class="btn btn-secondary" (click)="changeLanguage()" i18n="@@translate">translate</button>

          <a
            href="users/{{id()}}"
            class="btn btn-light btn-margin"
            i18n="@@profile">
              profile
          </a>

          <button
            class="btn btn-warning btn-margin"
            *ngIf="auth.isAuthenticated()"
            (click)="auth.logout()" i18n="@@logOut">
              logOut
          </button>

          <a class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img class="user-avatar rounded-circle" src="{{profile?.picture}}" alt="User Avatar">
          </a>
        </div>
      </div>
    </div>

  </nav>
</div>