/* You can add global styles to this file, and also import other style files */
.body {
	background-color: #d9d9d9;
}

/*.table-hover tbody tr:hover {
  background-color: #2199e8;
}*/

.btn {
  border-radius: 0;
}

.sectionTitle{
	font-family: "Times New Roman", Times, serif;
	color: grey;
}

.pageTitle{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: grey;
	text-decoration: underline;
}

.fa{
	color: grey;
}

.form-control {
  border-radius: 0px;
}

.label{
	font-weight: bold;
}