.leftLine {
  border-left: 1px solid grey;
  height: 100%;
}

.rightLine {
  border-right: 1px solid grey;
  height: 100%;
}

.vehicleHome{
	max-height:100px;
  max-width: 120px;
}

a {
	color: black;
}