<div class="col-md row">

    <div class="col-md-4">
      <div class="row justify-content-md-center">
        <h3 class="sectionTitle" i18n="@@MyVehicles">MyVehicles</h3>
      </div>

      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="text-center" i18n="@@image">image</th>
              <th class="text-center" i18n="@@vehicleDescription">description</th>
              <th class="text-right" i18n="@@vehicleCapacity">capacity</th>
              <th></th><th></th>
            </tr>
          </thead>
          <tbody class="table table-striped">
            <tr *ngFor="let vehicle of profile?.myVehicles | paginate: { itemsPerPage: 5, currentPage: currentP }"> 
              <td align="center">
                <a href="{{pathImage(vehicle)}}"><img *ngIf="hasImages(vehicle)" src="{{pathImage(vehicle)}}" class="vehicleHome"></a>
                <div *ngIf="!hasImages(vehicle)"><i class="fa fa-car fa-3x"></i></div>
              </td>
              <td align="left">{{ vehicle.description }}</td>
              <td align="right">{{ vehicle.passengerCapacity }}</td>
              <td align="center">
                <a routerLink="vehicles/{{vehicle.id}}"><i class="fa fa-edit fa-2x"></i></a>
              </td>
              <td align="center">
                <a routerLink (click)="deleteVehicle(vehicle.id)"><i class="fa fa-trash fa-2x"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

          <div class="row justify-content-md-center">
            <pagination-controls (pageChange)="currentP = $event"></pagination-controls>
          </div>
        </div>

      <div class="row justify-content-md-center">
        <a href="vehicles/new" 
          class="btn btn-primary btn-margin"
          i18n="@@addVehicle">
            addVehicle
        </a>
      </div>

    </div>

    <div class="col-md-4">
      <div class="float-md-left leftLine"></div>
      <div class="float-md-right rightLine"></div>

      <div class="row col-md-11">
        <div class="row col-md-12 justify-content-md-center">
          <h3 class="sectionTitle" i18n="@@Movements">Movements</h3>
        </div>

        <div *ngIf="hasProfile() && hasMovements()" class="row col-md-12 justify-content-md-center">
          <div class="shadow p-4 mb-3 bg-white">
            <li *ngFor="let movement of profile.movementsOfMonth.history">
              <span>[{{ dateService.shortDate(movement.date) }}, {{ dateService.shortTime(movement.date) }}]: <br>{{movement.description}}</span>
              <br><br>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row justify-content-md-center">
        <h3 class="sectionTitle" i18n="@@PublicationRequests">PublicationRequests</h3>
      </div>

      <ul>

      <div *ngIf="hasProfile()">
        <li *ngFor="let request of requestOfPublications()" class="without-points">
          <a class="row col-md shadow p-2 mb-3 bg-white" routerLink="requests/{{request.id}}">
            <div class="col-md-2">
              <i class="fa fa-child fa-3x"></i>
            </div>

              <div class="col-md-7 align-self-center">
                <p class="mb-1"><span>{{request.requester.firstName}}</span> <span>{{request.requester.lastName}}</span></p>
                <p class="mb-1" i18n="@state">state: <span>{{request.state.description}}</span></p>
              </div>

              <div class="col-md-3">
                <p i18n="@hours"><span>{{request.totalHours}}</span> hours</p>
              </div>
            </a>
          </li>
        </div>
      </ul>
    </div>

</div>

<p>
  {{ 'Intro' | translate }}
</p>