.leftLine {
  border-left: 1px solid grey;
  height: 100%;
}

.rightLine {
  border-right: 1px solid grey;
  height: 100%;
}

.vehicleHome{
	max-height:50px;
  max-width: 70px;
}

a {
	color: black;
}

.without-points{
  list-style-type: none; 
}
