<div class="col-md row">

	<div class="col-md-12">
		<div class="row justify-content-md-center">
			<h1 class="pageTitle" i18n="@@searchVehicleTitle">searchVehicleTitle</h1>
		</div>
	</div>

	<br>
	<br>
	<br>

	<div class="col-md-6">
		<div class="row justify-content-md-center">
			<div class="table-responsive-sm">
				<div>
					<a href="publications/new" class="btn btn-primary btn" i18n="@@addPublications">
						addPublications
					</a>
				</div>
				<br>
				<table class="table table-hover">

					<thead class="thead-dark">
						<tr>
							<th i18n="@@publicationId">publicationId</th>
							<th i18n="@@publicationPricePerHour">publicationPricePerHour</th>
							<th i18n="@@publicationPhone">publicationPhone</th>
						</tr>
					</thead>
					<tbody class="table table-striped">
						<tr *ngFor="let publication of publications | paginate: { itemsPerPage: 10, currentPage: currentP }">
							<td>{{ publication.id }}</td>
							<td>{{ publication.pricePerHour }}</td>
							<td>{{ publication.phone }}</td>
						</tr>
					</tbody>
				</table>

				<div class="justify-content-center">
					<pagination-controls (pageChange)="currentP = $event"></pagination-controls>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<app-map [points]="pickUpZones()"></app-map>
	</div>
</div>