<div class="col-md row">

	<div class="col-md-12">
		<div class="row justify-content-md-center">
			<h1 class="pageTitle" i18n="@@searchVehicleTitle">searchVehicleTitle</h1>
		</div>
	</div>

	<br>
	<br>
	<br>

	<div class="col-md-12">
		<div class="row justify-content-md-center">
			<div class="col-md-3">
				<select class="custom-select mr-sm-2" [(ngModel)]="categoryFilter">
					<option [ngValue]="undefined" disabled selected i18n="@@searchByCategory">searchByCategory</option>
					<option *ngFor="let category of categories" [value]="category.concretType">{{category.concretType}}</option>
				</select>
			</div>
    </div>
	</div>

	<br><br>

	<div class="col-md-6">
		<div class="row justify-content-sm-center">
			<div class="table-responsive-sm">
				<table class="table table-hover">

					<thead class="thead-dark">
						<tr>
							<th i18n="@@publicationVehicleDescription">description</th>
							<th i18n="@@publicationPricePerHour">publicationPricePerHour</th>
							<th i18n="@@publicationPhone">publicationPhone</th>
							<th i18n="@@publicationPickUpZone">publicationPickUpZone</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="table table-striped">
						<tr *ngFor="let publication of (publications | searchByCategory: categoryFilter | paginate: { itemsPerPage: 5, currentPage: currentP })">
							<td>{{ publication.publishedVehicle.description }}</td>
							<td>{{ publication.pricePerHour }}</td>
							<td>{{ publication.phone }}</td>
							<td>{{ publication.pickUpZone.description }}</td>
							<td align="center">
                <a href="publications/{{publication.id}}"><i class="fa fa-eye fa-2x"></i></a>
              </td>
						</tr>
					</tbody>
				</table>

				<div class="justify-content-center">
					<pagination-controls (pageChange)="currentP = $event"></pagination-controls>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<app-map [points]="pickUpZones()"></app-map>
	</div>
</div>